@model KoalaCode.BL.Areas.Admin.Models.User.LoginUserInfo
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<br>
<div class="wrapper-form clearfix">

    @using (Html.BeginForm("LogIn", "Authorization", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Login, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Login, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Login, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-md-12">
                @Html.ActionLink("Register new user", "Register", "Authorization", new { @class = "btn btn-primary" })
                <input type="submit" value="Ok" class="btn btn-default pull-right"/>
            </div>
        </div>
    }
</div>
