@model List<KoalaCode.BL.Areas.Admin.Models.Article.ListArticlesModel>

@{
    ViewBag.Title = "Index";
}

@if (Model != null && Model.Any())
{
    <div class="col-md-4 col-sm-6">
        @for (var i = 0; i < Model.Count; i++)
        {
            if ((i % 2 != 0 && i % 3 != 0)) { continue; }
            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a>
                    <h4>@Model[i].Headline</h4>
                    <h5>@Model[i].CreatedDate</h5>
                </div>
                <div class="panel-body">
                     @Html.Raw(Model[i].ShortDescription)   
                </div>
            </div>
        }
    </div>

    <div class="col-md-4 col-sm-6">
        @for (var i = 0; i < Model.Count; i++)
        {
            if (i == 0 || i % 2 != 0) { continue; }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="pull-right">View all</a>
                    <h4>@Model[i].Headline</h4>
                    <h5>@Model[i].CreatedDate</h5>
                </div>
                <div class="panel-body">
                    @Html.Raw(Model[i].ShortDescription)
                </div>
            </div>
        }
    </div>

    <div class="col-md-4 col-sm-6">
        @for (var i = 0; i < Model.Count; i++)
        {
            if (i == 0 || i % 3 != 0) { continue; }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="pull-right">View all</a>
                    <h4>@Model[i].Headline</h4>
                    <h5>@Model[i].CreatedDate</h5>
                </div>
                <div class="panel-body">
                    @Html.Raw(Model[i].ShortDescription)
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>Something wrong!</strong> You don't not have any articles
    </div>
}



